@import url("cartao.css");
@import url("cabecalho.css");
@import url("corpo.css");
@import url("rodape.css");

* {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


section {
    /* border: .1rem solid blue; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .1rem solid orangered; */
    background-color: #eee;
    padding: .5rem;
}

main {
    /* border: .1rem solid purple; */
    display: flex;
    flex: 1;
    padding: .5rem;
}

.logo {
    border: .1rem blue solid; /*borda*/
    background-color: blue; /*cor de fundo*/
    width: 1rem;
    height: 1rem;
    color: #eee;
    font-weight: bold; /*fonte em negrito*/
    border-radius: 100%;
    padding: .7rem; /*afasta o conteúdo da borda*/
    display: flex; /*caixas flexivéis*/
    justify-content: center; /*centro do eixo x*/
    align-items: center; /*centro do eixo y*/ /*alinhamento dos itens dentro de cada caixa*/
    align-content: center; /*centro do eixo y*/
    margin-right: .7rem; /*margem da direita*/
}